---
---

@import 'framalibre-common';

body {
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > *{
      width: 100%;
  }
}

h2{
    text-align: center;
}

#f-page {
  margin: 1rem auto 3rem;

  .welcome-tags a.tag {
    color: var(--f-f8);
    border: 1px solid var(--f-f8);

    &:hover,
    &:active {
      color: var(--f-g2);
      background-color: var(--f-f8);
    }
  }
}

.recherche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;


    label{
        text-align: left;

        width: 100%;

        @media (min-width: $break-point) {
            width: 80%;
        }

        input{
            display: block;
            width: 100%;
        }
    }
}


ul.welcome-tags{
    text-align: center;
    margin-bottom: 2rem;

    li {
        display: inline-block;
    }
}


.illustration{
    text-align: center;

    img{
        display: inline-block;
        max-width: 100%;
        max-height: 12rem;

        @media (min-width: $break-point) {
            max-width: 80%;
            margin: 0 auto;
        }
    }
}

details{
    margin-bottom: 1rem;
}

summary > * {
    display: inline;
}

#services-search {
  border: 2px solid var(--f-f8);
}

.fas.fa-magnifying-glass::before {
  content: "";
  --square: 1.000em;
  background-color: currentColor;
  display: inline-block;
  line-height: 1;
  mask-position: center center;
  mask-repeat: no-repeat;
  mask-size: contain;
  width: var(1.000em,1em);
  height: 1em;
  -webkit-mask-image: var(--icon);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc.--><path d="M500.3 443.7L380.6 324c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723 99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9 53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0 15.606-15.64 15.606-41.04.006-56.64zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128-57.42 128-128 128-128-57.4-128-128z"/></svg>');
}
