<head>
    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <link rel="icon" href="data:,">

    <title>{{ site.title }}</title>

    <meta name="description" content=" ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" rel="stylesheet" href="{{ '/assets/style/bootstrap.min.css' | relative_url }}">
    <link href="https://framasoft.org/main.502ace832b1505e92826.css" rel="stylesheet" type="text/css" />
    <link crossorigin="anonymous" rel="stylesheet" href="{{ '/assets/style/framalibre-notice.css' | relative_url }}">
    <link crossorigin="anonymous" rel="stylesheet" href="{{ '/assets/style/surcharge.css' | relative_url }}">

    {%- include polyfills.html -%}

    {%- include layout-page-styles.html -%}

    {%- include layout-page-scripts.html -%}

</head>
