#f-page {
    padding-inline: 5rem;
    max-width: 80ch;
}

#f-page h2 {
    margin-top: 3rem;
}

#f-page article h2:first-of-type {
    margin-top: 1rem;
}

.framalibre-title {
    padding-left: 2rem;
    font-size: 2rem !important;
    font-weight: bold;
    color: white;
}

@media (max-width:576px) {
    #f-page {
        padding-inline: 1.5rem;
    }
    
}
