#f-page {
    padding-inline: 5rem;
    max-width: 80ch;
}

#f-page h1 {
  font-size: 3rem;
  color: var(--f-g10);
  font-family: Tovari Sans,sans-serif;
  font-size: 2.4rem;
  line-height: 2.5rem;
  margin: 1rem 0;
  transform: rotate(0deg);
}

#f-page h2 {
  color: var(--f-f7);
  font-size: 1.75rem;
  margin-top: 1rem;
}

#f-page article h2 {
  color: var(--f-g10);
  font-size: 3rem;
  margin-top: 3rem;
}

#f-page h3 {
  color: var(--f-g7);
  font-size: 1.75rem;
  margin-top: 3rem;
}

#f-page article h2:first-of-type {
    margin-top: 1rem;
}

.framalibre-title {
    padding-left: 2rem;
    font-size: 2rem !important;
    font-weight: bold;
    color: white;
}

@media (max-width:576px) {
    #f-page {
        padding-inline: 1.5rem;
    }

}

#f-page h1.mini-site__title {
  margin: -4rem auto 3rem 1rem;
  transform: rotate(-2deg);
}
