---
layout: default
styles:
    - href: "style/contribuer.css"
    - href: "style/notice.css"
---

<h1><span>Tout s'est bien passé !</span></h1>

<div class="confirmation contribute">
  <p class="confirmation__text">
    {{ page.confirmation_message }}
  </p>

  <p>
      <a class="mr-4" href="{{ "/" | relative_url }}">
        Retourner à l'accueil
      </a>
      <a href="{{ '/contribuer' | relative_url }}" class="btn btn-outline-warning">
        Créer une nouvelle notice
      </a>
  </p>
</div>
